@model FMGSuiteFinal.Models.ENT

@{
    ViewBag.Title = "Delete";
}

<head>
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.entAvgHoldTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entAvgHoldTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entAvgSpeedAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entAvgSpeedAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entMaxHoldTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entMaxHoldTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entAbandoned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entAbandoned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entNumberOfAcceptedCalls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entNumberOfAcceptedCalls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entPercentAbandoned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entPercentAbandoned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entAvgAbandonTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entAvgAbandonTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
