@model FMGSuiteFinal.Models.ALP

@{
    ViewBag.Title = "Details";
}

<head>
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>

<h2>Details</h2>

<div>
    <h4>ALP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.alpAvgHoldTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alpAvgHoldTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alpAvgSpeedAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alpAvgSpeedAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alpMaxHoldTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alpMaxHoldTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alpAbandoned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alpAbandoned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alpNumberOfAcceptedCalls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alpNumberOfAcceptedCalls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alpPercentAbandoned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alpPercentAbandoned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alpAvgAbandonTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alpAvgAbandonTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.alpDateTime }) |
    @Html.ActionLink("Back to List", "Index")
</p>
