@model IEnumerable<FMGSuiteFinal.Models.ALP>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.alpAvgHoldTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alpAvgSpeedAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alpMaxHoldTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alpAbandoned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alpNumberOfAcceptedCalls)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alpPercentAbandoned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alpAvgAbandonTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.alpAvgHoldTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alpAvgSpeedAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alpMaxHoldTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alpAbandoned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alpNumberOfAcceptedCalls)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alpPercentAbandoned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alpAvgAbandonTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.alpDateTime }) |
            @Html.ActionLink("Details", "Details", new { id=item.alpDateTime }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.alpDateTime })
        </td>
    </tr>
}

</table>
